@font-face {
    font-family: 'Ogg-It';
    font-style: normal;
    font-weight: 400;
    src: url('public/fonts/Ogg-Italic.otf');
}

@font-face {
    font-family: 'Ogg-Rom';
    font-style: normal;
    font-weight: 400;
    src: url('public/fonts/Ogg-Roman.otf');
}

@font-face {
    font-family: 'Moderat';
    font-style: normal;
    font-weight: 400;
    src: url('public/fonts/Moderat-01-Regular.otf');
}
