// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
    background: $body-bg;
    font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    color: $font-color;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}


// NAV

.navbar {
    z-index: 30;
    position: fixed;
    left: 0;
    right: 0;

    .container {
        max-width: inherit;

        .collapse {
            display: flex;

            .navbar-nav {
                list-style-type: none;
                flex: 50%;

                &.mr-auto {
                    text-align: left;

                    .logo {
                        font-family: $font-family-serif;
                        font-size: 4em;
                        position: fixed;
                        top: 0;
                        z-index: 40;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                &.ml-auto {
                    text-align: right;
                    justify-content: flex-end;
                    align-items: flex-end;

                    //https://codepen.io/Danilo06/pen/PoNNvGm animated hamburger icon

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 50px;
                        cursor: pointer;
                        margin-bottom: 0;
                        position: fixed;
                        top: 23px;
                        z-index: 30;
                    }

                    label span {
                        align-self: flex-end;
                        background: $font-color;
                        border-radius: 5px;
                        height: 5px;
                        margin: 5px 0;
                        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
                    }

                    span:nth-of-type(1) {
                        width: 50%;
                    }

                    span:nth-of-type(2) {
                        width: 100%;
                    }


                    span:nth-of-type(3) {
                        width: 75%;
                    }

                    input[type="checkbox"] {
                        display: none;
                    }

                    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
                        transform-origin: bottom;
                        transform: rotatez(-135deg) translate(11px, -13px)
                    }


                    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
                        transform-origin: top;
                        transform: rotatez(-45deg)
                    }


                    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
                        transform-origin: bottom;
                        width: 50%;
                        transform: translate(-4px, -8px) rotatez(45deg);
                    }


                    .toggleMenu {
                        display: none;
                        position: fixed;
                        top: 0;
                        text-align: right;
                        right: 0;
                        left: 0;
                        padding: 90px 20px 10px;
                        background: $body-bg;

                        .nav-item {
                        }

                        li {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// MAIN

.py-4 {
    padding-top: 100px !important;
}

.card {
    border: none;
    background: none;

    &-header {
        background-color: transparent;
        border: none;
    }
}

//HOME
.post-item {
    width: 90%;
    min-width: 250px;
    margin: 30px 5%;
    overflow: hidden;
    border-radius: 25px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;

    img {
        width: 100%;
    }

    &-info {
        background-color: white;
        height: 4em;

        .float-left, .float-right {
            font-size: 1.3rem;
        }

        .float-left {
            margin-left: 15px;
            margin-top: 17px;
            width: calc(60% - 15px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .float-right {
            margin-right: 15px;
            margin-top: 17px;
            width: calc(38% - 15px);
            text-align: right;
        }
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 15px #00000033;
    }
}

// CREATE POST

.fieldGroup {
    padding: 1.5em;

    .field {
        .control {
            input, textarea {
                width: 100%;
            }
        }
    }
}

.control {
    button {
        margin-top: 10px;
    }
}

// POST
.homepage-grid {
    width: 100vw;
}

.price {
    font-family: "Ogg-Rom", serif;
}

.info-wrapper {
    padding: 1em;

    h1, .price, p {
        margin: 20px 0;
    }
}

.bid-form {
    height: 100px;

    &-label {
        clear: both;
        width: 100%;
    }

    &-amount {
        width: 75%;
        float: left;
    }

    &-button {
        float: right;
        margin-top: -16px;

        &-edit {
            margin-top: 0;
        }
    }
}

.bids {
    clear: both;

    p {
        font-size: 1.2em;
        width: 50%;
        float: left;

        &.amount {
            text-align: right;
        }
    }

    .ruler {
        clear: both;
    }

    .controls {
        text-align: right;
    }
}

// ADMIN

.title, .body-text {
    width: 90%;
    margin: 20px 5%;

    &-half {
        width: 40%;
        float: left;
        margin: 20px 5%;
    }
}

.create {
    width: 40%;
    float: left;
    margin: 20px 5%;
    padding: 1em;
    border-radius: 10px;
    background: white;
    width: fit-content;
    float: right;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;

    &:hover {
        text-decoration: none;
        color: black;
        transform: scale(1.05);
        box-shadow: 0 10px 15px #00000033;;
    }
}

.tableContainer {
    width: 100vw;
    height: 100%;
    overflow-x: scroll;
}

table {
    width: 90%;
    margin: 20px 5%;
    white-space: nowrap;
    overflow: auto;

    th, td {
        border: 1px solid black;
        padding: 1em;
    }
}

.edit {
    color: $green;
}

.archive {
    color: $indigo;
}

.unarchive {
    color: $blue;
}

.delete {
    color: $red;
}

// USER

.user-name {
    padding-top: 60px;
}

.form-wrapper {
    clear: both;
    padding: 40px 0;
}

.avatar {
    width: 150px;
    height: 150px;
    float: left;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 25px;

    &-nav {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.5);
        }
    }
}


// MEDIA QUERIES

@media only screen and (min-width: 700px) {
    .post-item {
        width: 45%;
        margin: 30px 2.5%;
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        .container {
            .collapse {
                .navbar-nav {
                    &.ml-auto {
                        label {
                            display: none;
                        }

                        .toggleMenu {
                            display: block;
                            padding: 35px 20px 10px;
                            background: transparent;

                            .nav-item {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1050px) {
    .post-wrapper {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;

        .media-wrapper, .info-wrapper {
            width: 50vw;
            float: left;

            img {
                width: 100%;
                max-height: 100vh;
            }
        }

        .media-wrapper {
            overflow: scroll;
            height: 100vh;
        }

        .info-wrapper {
            padding: 100px 40px 20px;

            .bids {
                overflow: hidden;

                &-placed {
                    overflow: scroll;
                    height: 1000px;
                    padding-bottom: 500px;
                }
                &-user {
                    width: calc(50% - 1em);
                    float: right;
                    clear: none;
                }
            }
        }
    }
    .user-form-wrapper {
        float: left;
        width: calc(50% - 1em);
    }
    .bids-user {
        width: calc(50% - 1em);
        float: right;
        clear: none;
    }


    .containerCreate {
        padding: 20px 5%;

        .fieldGroup {
            width: 50%;
            float: left;
            padding-left: 0;
            padding-right: 2em;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .post-item {
        width: 30%;
        margin: 30px calc(10% / 6);
    }
}



