// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
    background: $body-bg;
    font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    color: $font-color;
    text-decoration: none;
}


// NAV

.navbar {
    z-index: 30;
    position: fixed;
    left: 0;
    right: 0;

    .container {
        max-width: inherit;

        .collapse {
            display: flex;

            .navbar-nav {
                list-style-type: none;
                flex: 50%;

                &.mr-auto {
                    text-align: left;

                    .logo {
                        font-family: $font-family-serif;
                        font-size: 4em;
                        position: fixed;
                    }
                }

                &.ml-auto {
                    text-align: right;
                    justify-content: flex-end;
                    align-items: flex-end;

                    //https://codepen.io/Danilo06/pen/PoNNvGm animated hamburger icon

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 50px;
                        cursor: pointer;
                        margin-bottom: 0;
                        position: fixed;
                        top: 30px;
                    }

                    label span {
                        align-self: flex-end;
                        background: $font-color;
                        border-radius: 5px;
                        height: 5px;
                        margin: 5px 0;
                        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
                    }

                    span:nth-of-type(1){
                        width:50%;
                    }

                    span:nth-of-type(2){
                        width:100%;
                    }


                    span:nth-of-type(3){
                        width:75%;
                    }

                    input[type="checkbox"]{
                        display: none;
                    }

                    input[type="checkbox"]:checked ~ span:nth-of-type(1){
                        transform-origin:bottom;
                        transform:rotatez(-135deg) translate(11px, -13px)
                    }


                    input[type="checkbox"]:checked ~ span:nth-of-type(2){
                        transform-origin:top;
                        transform:rotatez(-45deg)
                    }


                    input[type="checkbox"]:checked ~ span:nth-of-type(3){
                        transform-origin:bottom;
                        width:50%;
                        transform: translate(-4px,-8px) rotatez(45deg);
                    }


                    .toggleMenu {
                        display: none;
                        position: fixed;
                        top: 80px;
                        text-align: right;
                        right: 0;
                        left: 0;
                        padding: 10px 20px;
                        background: $body-bg;

                        .nav-item {
                        }

                        li {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// MAIN

.py-4 {
    padding-top: 100px !important;
}

.card {
    border: none;
    background: none;

    &-header {
        background-color: transparent;
        border: none;
    }
}

// CREATE POST

.fieldGroup {
    padding: 1em;
    .field {
        .control {
            input, textarea {
                width: 100%;
            }
        }
    }
}




